<div id="btnContainer">
    <button class="btn" (click)="listView()"><i class="fa fa-bars"></i> List</button>
    <button class="btn active" (click)="gridView()"><i class="fa fa-th-large"></i> Grid</button>
</div>
<br>
<section class="section">
    <h4>Sort :</h4><button type="button" class="btn btn-primary m-2" (click)="sort('first_name')">Sort By Name</button>
    <div class="form-group">
        <label for="serach">Search :</label>
        <input class="form-control" [(ngModel)]="query" placeholder="Search for Contact" style="background-color:azure">
    </div>
    <br>
    <div class="container">
        <div #myDiv class="row">
            <div class="column m-2" style="background-color:rgb(122, 203, 206);"
                *ngFor="let contact of contacts | filter:'email,first_name,last_name':query">
                <div>
                    <img style="width:100%;" src="{{ contact.avatar }}" alt="Card image" />
                    <h2><b> UserName : </b> {{ contact.first_name}} {{ contact.last_name }}</h2>
                    <p><b>Email : </b> {{ contact.email }}</p>
                </div>
            </div>
        </div>
    </div>
</section>